# not used everywhere, but may be run manually over certain areas of code

[*.lua]

indent_style = space
indent_size = 4
continuation_indent = 4
quote_style = double
max_line_length = unset
end_of_line = unset
table_separator_style = comma
trailing_table_separator = smart
insert_final_newline = true

space_around_table_append_operator=true

align_call_args = false
align_function_params = false
align_continuous_assign_statement = false
align_continuous_rect_table_field = false
align_if_branch = false
align_array_table = false

line_space_after_if_statement = max(2)
line_space_after_do_statement = max(2)
line_space_after_while_statement = max(2)
line_space_after_repeat_statement = max(2)
line_space_after_for_statement = max(2)
line_space_after_local_or_assign_statement = max(2)
line_space_after_function_statement = max(2)
line_space_after_expression_statement = max(2)
line_space_after_comment = max(2)

end_statement_with_semicolon = replace_with_newline
