# not used everywhere, but may be run manually over certain areas of code

[*.lua]

quote_style = double
max_line_length = unset
end_of_line = lf
trailing_table_separator = smart
detect_end_of_line = false

space_inside_function_call_parentheses = unset
space_around_table_append_operator = true

align_function_params = false
align_continuous_assign_statement = none
align_continuous_rect_table_field = none
align_array_table = none
align_continuous_inline_comment = false

line_space_after_if_statement = max(2)
line_space_after_do_statement = max(2)
line_space_after_while_statement = max(2)
line_space_after_repeat_statement = max(2)
line_space_after_for_statement = max(2)
line_space_after_local_or_assign_statement = max(2)
line_space_after_function_statement = max(2)
line_space_after_expression_statement = max(2)
line_space_after_comment = max(2)

break_table_list = never
